#reader h1,
#reader h2,
#reader h3,
#reader h4,
#reader h5,
#reader h6
{
    text-decoration: underline;
}

html
{
    scroll-behavior: smooth;
}

#article
{
    width:75%;
    top:0px;
}

table
{
    border-collapse:collapse;
    border-spacing:0;
}
table td
{
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
table th
{
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.light table th, .light table td
{
    border-color: black;
}
.dark table th, .dark table td
{
    border-color: white;
}

#menu
{
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.LTR #menu
{
    left: 20px;
}

.RTL #menu
{
    right: 20px;
}

#reader
{
    padding: 0px 10px;
}

.LTR #reader
{
    margin-left: 200px;
}

.RTL #reader
{
    margin-right: 200px;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.light a
{
    color: blue;
}

.dark a
{
    color:deeppink;
}

#toc .subsection
{
	position:relative;
}

.LTR .subsection
{
    left:20px;
}

.RTL .subsection
{
    right: 20px;
}

#toc *, .sm *
{
    background-color: transparent;
}
#toc .item, #toc .subsection, .sm .item {
	display:block;
}

#toc .item .num, .sm .item .num
{
    font-weight: bold;
}

.LTR .num
{
    padding-right: 5px;
}

.RTL .num
{
    padding-left: 5px;
}

#toc, .sm
{
    margin-bottom: 10px;
    padding:10px;
    position: relative;
    min-width: 50%;
}

.sm .subj_title
{
    font-size: 25px;
    display: block;
    font-weight: bold;
}

.sm .subj_title:hover
{
    cursor: pointer;
}

#light:hover, #dark:hover
{
    cursor: pointer;
}

.light *
{
    color: black;
    background-color: white;
}

.dark *
{
    color: white;
    background-color: black;
}

#menu h1:hover
{
    cursor:pointer;
}

.RTL, .RTL *
{
    direction: rtl;
}

pre.code, code.inline-code
{
    background: #f4f4f4;
    border: 1px solid #ddd;
    font-family: monospace;
    direction: ltr !important;
    text-align: left !important;
}

pre.code {
    color: #666;
    page-break-inside: avoid;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.LTR pre.code
{
    border-left: 3px solid #f36d33;
}
.RTL pre.code
{
    border-right: 3px solid #f36d33;
}

code.inline-code
{
    color: black;
    padding: 3px;
}

